* {
    box-sizing: border-box;
}
body {
    margin-left: 250px;
    margin-right: 250px;
}
.topnav {
    overflow: hidden;
    background-color: black;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: violet;
    color: black;
}