article {
    padding-top: 0px;
    text-align: justify;
}
h1 {
    font: lato-bold;
    font-weight: bolder;
}
.nav {
    background-color: black; 
}
body {
    background-image: "images/bg.jpg";
}
#main {
    width: 955px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 10px 32px 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff  662px 0px repeat-y;
    background-image: url(../images/bg.jpg);
}
.container {
    padding: 80px 90px;
    background-color: gainsboro;
}
.col-sm  {
    padding: 0 30px;
}
.col-am  {
    padding: 0;
}
.col-sm img  {
    width: 100%;
}
.col-am img  {
    width: 100%;
}
.pad {
    padding-left: 0px;
    text-align: center;
}
.downPic {
    display: flex !important;
}
.columns {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; 
}
.columns img {
    width: 100%;
}
.columns h1 {
    text-align: center;
    padding-bottom: 30px;
}
.rows:after {
    content: "";
    display: table;
    clear: both;
}
.rows{
    padding-top: inherit;
}